html{
	background-image: url("../images/concrete_seamless.png");
}
body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color:#777777;
}

header{
	background:#ffffff;
	padding:43px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 2px; 
	margin-top: 0px;
	position:relative;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	margin-bottom: 40px;
}

a{
	text-decoration:none;
}


h1{

	float: left;
	font-size: 36px;
	padding: 25px;
	background: #4aaaa5;
	color: white;
	margin-left: 150px;
	margin-top: -43px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	
}

.about{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	float:left;
	position: relative;
	bottom:7px;
	left:460px;
	color:#777777;

}

a:hover{
	color: #6FFFFF;
	transition: all 200ms;
}

img:hover{
	box-shadow:1px 2px 4px 5px #6FFFFF;
	transition: all 500ms;
}

.portfolio{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float:left;
	font-size: 18px;
	position: relative;
	bottom:7px;
	left:480px;
	padding-left: 20px;
	padding-right: 20px;
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	color:#777777;

}

.contact{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	float:left;
	position: relative;
	bottom:7px;
	left: 500px;
	color:#777777;
}

section{
	float:left;
	padding:30px;
	margin:0 40px 0 195px;
	border:2px solid #dddddd;
	width: 620px;
	background: #ffffff;
	margin-bottom: 40px;
}

h3{
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color:#4aaaa5;
	font-size:36px;
	font-weight:700;
	padding-top:10px;
	padding-bottom: 30px;
	border-bottom: 4px solid #dddddd;
	margin-bottom: 30px;

}

.profile{
	float: left;
	margin: 10px 30px 0px 0;
}

p{
	line-height: 200%;
}

aside{
	float:left;
	margin-left:;
	border:2px solid #dddddd;
	width:270px;
	background: #ffffff;

}

.connect{
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color:#4aaaa5;
	font-size:24px;
	font-weight:700;
	border-bottom:2px solid #dddddd;
	padding: 30px 0 25px 0;
	margin: 0 30px;
}

#icons{
	margin: 25px 0px 25px 30px;

}

.linkedin{
	margin:0 7px;
}


.empty-space-about{
	padding-bottom: 730px;
}


footer {
	position:fixed;
	bottom: 0;
	width: 100%;
	clear:left;
	text-align: center;
	background: #666666;
	color:#b3b3b3;
	padding: 40px;
	font-size: 16px;
	border-top:8px solid #4aaaa5;
	z-index: 2;
	
}

.hangman-pic{
	float:left;
	position:relative;
	margin-bottom: 25px;
}

.hangman-image{
	width:300px;
	height: 225px;
}

.in-image{
	font-size: 20px;
	padding:20px;
	text-align: center;
	position:absolute;
	width:260px;
	bottom: 15px;
	right:0;
	z-index:1;

}

.rpg-game{
	float:left;
	position:relative;
	margin: 0 0 25px 20px;
}

.rpg-image{
	width:300px;
	height: 225px;
}

.trivia{
	float:left;
	position:relative;
}

.trivia-image{
	width:300px;
	height: 225px;
}

.rutgers{
	float:left;
	position:relative;
	margin: 0 0 25px 20px;
}

.rutgers-image{
	width:300px;
	height: 225px;
}

.rps{
	float:left;
	position:relative;
}

.rps-image{
	width:300px;
	height: 225px;
}
.empty-space-portfolio{
	padding-bottom: 1050px;
}

.input{
	width: 595px;
	margin: 10px 0 15px 0;
	padding: 10px;
	border:1px solid #cccccc;
}

.input::placeholder{
	color:#cccccc;
}

.message-input{
	width: 595px;
	height: 250px;
	padding:10px;
	border:1px solid #cccccc;
	margin: 10px 0 15px 0;
	resize:vertical;

}

.empty-space-contact{
	padding-bottom: 850px;
}

.button{
	background-color:#4aaaa5;
	font-size: 18px;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}



/* Bootstrap Portfolio HW*/ 


@media only screen and (max-width:980px) {
  /*About*/
  h1{
	margin-left: 80px;
  }

  .about{
	left:200px;
  }

  .portfolio{
	left:220px;
  }

  .contact{
	left:240px;
  }

  section {
	margin-left: 123px;
	width: 355px;
  }

  .profile {
  	float:none;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  }

  p{
  	padding-top: 25px;
  }
	
  .empty-space-about{
	padding-bottom: 1150px;
  }
  
  /*Portfolio*/
  .hangman-image{
  	width:355px;
  	height:266px;
  }

  .rpg-image{
  	width:355px;
  	height:266px;
  }

  .rpg-game{
  	margin-left: 0px;
  }

  .trivia-image{
  	width:355px;
  	height:266px;
  }

  .rutgers-image{
	width:355px;
  	height:266px;
  }

  .rutgers{
  	margin-left: 0;
  	margin-top: 25px;
  }

  .rps-image{
  	width:355px;
  	height:266px;
  }

  .in-image{
	width:315px;
  }

  .empty-space-portfolio{
	padding-bottom: 1775px;
  }

  /*Contact*/
  .input {
  	width: 333px;
  }

  .message-input{
  	width: 333px;
	height: 200px;
  }

  .empty-space-contact{
	padding-bottom: 800px;
  }
}



@media only screen and (max-width:768px) {
  /*About*/
  h1{
	margin-left: -25px;
  }

  .about{
	left:180px;
  }

  .portfolio{
	left:200px;
  }

  .contact{
	left:220px;
  }

  section {
	margin-left: 20px;
	width: 648px;
  }

  .profile {
	float: left;
	margin: 10px 30px 0px 0;
  }

  p{
  	padding-top: 0px;
  }

  aside{
	margin-left:20px;
	width:708px;
  }
	
  .empty-space-about{
	padding-bottom: 976px;
  }

  /*Portfolio*/
  .hangman-image{
  	width:300px;
  	height:225px;
  }

  .rpg-image{
  	width:300px;
  	height:225px;
  	margin-left: 48px;
  }

  .rpg-game{
  	margin-left: 0;
  }

  .trivia-image{
  	width:300px;
  	height:225px;
  }

  .rutgers-image{
	width:300px;
  	height:225px;
  }

  .rutgers{
  	margin-left: 48px;
  	margin-top: 0px;
  }

  .rps-image{
  	width:300px;
  	height:225px;
  }

  .in-image{
	width:260px;
  }

  .empty-space-portfolio{
	padding-bottom: 1294px;
  }

  /*Contact*/
  .input {
  	width: 626px;
  }

  .message-input{
  	width: 626px;
	height: 200px;
  }

  .empty-space-contact{
	padding-bottom: 1035px;
  }
}


@media only screen and (max-width:640px) {
  /*About*/
  header{
  	float:left;
  	padding:43px 0 44px 0;
  	border-left: 0px;
  	border-right: 0px;
  	width: 623px;

  }

  h1{
  	float:left;
  	margin-left: 0;
  	width:573px;
  	text-align:center;
  	display:block;
  }

  .about{
  	top:23px;
	left:71px;
  }

  .portfolio{
  	top:23px;
	left: 153px;
    padding: 0 78px;
  }

  .contact{
  	top:23px;
	left:231px;
  }

  .profile{
  	float:none;
  	width: 300px;
	display: block;
    margin: 0 auto;
  	margin-bottom: 25px;
  }
  
  section{
  	width:518px;
  }

  aside{
  	width:578px;
  }

  .empty-space-about{
	padding-bottom: 1420px;
  }

  footer {
  	width:543px;
  }

  /*Portfolio*/
   .hangman-image{
  	width:518px;
  	height:389px;
  }

  .rpg-image{
  	width:518px;
  	height:389px;
  }

  .rpg-game{
  	margin-left: -48px;
  }

  .trivia-image{
  	width:518px;
  	height:389px;
  }

  .rutgers-image{
	width:518px;
  	height:389px;
  }

  .rutgers{
  	margin-left: 0;
  	margin-top: 25px;
  }

  .rps-image{
  	width:518px;
  	height:389px;
  }

  .in-image{
	width:478px;
  }

  .empty-space-portfolio{
	padding-bottom: 2800px;
  }

  /*Contact*/
  .input {
  	width: 495px;
  }

  .message-input{
  	width: 495px;
	height: 200px;
  }

  .empty-space-contact{
	padding-bottom: 1200px;
  }

}